.card-container {
    overflow-y: overlay;
}

.class-container {
   border: solid #ce9ffc 2px;
   margin: 2%;
   padding: 2%;
}

.class-info {
    display: flex;
}
.card-title {
 width: 10vw;
}
.class-description {
    width: 20vw;
}